@import 'tailwindcss';

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

@layer base {
  .serif {
    font-family: system-ui, serif;
  }
  .sans {
    font-family: system-ui, sans-serif;
  }

  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}
